.card {
    height: 250px;
    width: 280px;
    border-radius: 14px;
    background-color: #414143;
    color: #fff;
}

.card:hover {
    background-color: #545464;
}

.card-title {

    text-align: center;
}

.card-img-top {
    height: 100px;
    width: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-subtitle-launch {
    width: 150px;
    font-size: 12px;
    text-align: center;

}

.subtitles-launch {
    align-items: center;
    margin-top: 18px;



}